<!-- signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold mb-6">Sign Up</h1>
    <form method="post" class="bg-white p-6 rounded-lg shadow-md">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-4">
            <label for="{{ form.username.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        {% comment %} <div class="mb-4">
            <label for="{{ form.firstname.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">firstname</label>
            {{ form.firstname }}
            {{ form.firstname.errors }}
        </div>
        <div class="mb-4">
            <label for="{{ form.email.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div> {% endcomment %}
        <div class="mb-4">
            <label for="{{ form.password1.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div class="mb-6">
            <label for="{{ form.password2.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">Confirm Password</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Sign Up
        </button>
    </form>
{% endblock %}